blockquote, body, button, dd, dl, header, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: "-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue","MIcrosoft YaHei",sans-serif !important;
    background-color: #F8F8F8;
}

li {
    list-style: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* https://s0.meituan.net/bs/fe-web-meituan/23bb705/font/iconfontNew.woff */

@font-face {
    font-family: "iconfontNew";
    src: url('https://s0.meituan.net/bs/fe-web-meituan/23bb705/font/iconfontNew.woff') format('woff'); /* chrome, firefox */
}